@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text&family=Noto+Sans+KR:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* font-family: 'Noto Sans KR', sans-serif; */
/* font-family: 'DM Serif Text', serif; */


/* 초기 요소 */
html { font-size: 62.5%; }

* { box-sizing: border-box; margin: 0; padding: 0; }

table { width: 100%; border-collapse: collapse; }
h1,h2,h3,h4,h5,h6 { font-size: 100% }
img {vertical-align: top; }
ul, ol { list-style: none; }
a { text-decoration: none; color: #000;}
em,address { font-style: normal;}
button { border: 0; background: transparent; }
fieldset, input, textarea, select { vertical-align: middle; border: 0; }
legend, caption { display: none; }

body { 
    font-size: 1.6rem; color:#000; line-height: 1.6; 
    font-family: 'Noto Sans KR', sans-serif;
    word-break: keep-all;
}

.inner { max-width: calc(100% - 200px); margin: 0 auto; }

@media (max-width:1600px) {
    .inner { max-width: calc(100% - 160px); }
}
@media (max-width:1400px) {
    .inner { max-width: calc(100% - 140px); }
}
@media (max-width:1200px) {
    .inner { max-width: calc(100% - 120px); }
}
@media (max-width:1000px) {
    .inner { max-width: calc(100% - 100px); }
}
@media (max-width:768px) {
    .inner { max-width: calc(100% - 50px); }
}

#wrap { overflow-x: hidden; position: relative; }

/* header */
#header { position: fixed; left: 0; top: 0; width: 100%; background: rgba(255,255,255,0.8); border-bottom: 1px solid #ccc; z-index: 999; }
#header .inner { height: 73px; position: relative; display: flex; justify-content: space-between; align-items: center; }
#header h1 { position: absolute; left: 50%; top: 28px; transform: translateX(-50%); }
/* 1차메뉴 */
/* #header .gnb { display: flex; }
#header .gnb > li { position: relative; }
#header .gnb > li > a { display: block; font-size: 20px; padding: 10px 20px; }
#header .gnb > li > a::after { content: ''; width: 0%; height: 3px; background: #000; display: block; position: absolute; left: 50%; transform: translateX(-50%); bottom: -11px; transition: all 0.3s; }
#header .gnb > li:hover > a::after { width: 100%; } */
#header .gnb { display: flex; }
#header .gnb > li { position: relative; }
#header .gnb > li > a { display: block; font-size: 20px; padding: 10px 20px; }
#header .gnb > li > a::after { content: ''; width: 100%; height: 3px; background: #000; display: block; position: absolute; left: 0; transform: scaleX(0); bottom: -12px; transition: all 0.3s; }
#header .gnb > li:hover > a::after { transform: scaleX(1) }
/* 2차메뉴 */
#header .gnb > li .depth2 { display: none; width: 500px; position: absolute; left: 0px; top: 50px; transition: all 0.3s; }
#header .gnb > li .depth2 li { display: inline-block; }
#header .gnb > li .depth2 li a { display: block; padding: 20px; }
#header .gnb > li:hover .depth2 { display: block; }

#header .ham { width: 24px; height: 24px; background: url(../images/ham.svg) no-repeat center; cursor: pointer; text-indent: -999999999999px; display: none; }

@media (max-width: 1200px) {
    #header .gnb { display: none; }
    #header .ham { display: block; }
    #header .util li:not(:last-child) { display: none; }
}


#header .util { display: flex; gap: 20px; }
#header .util .btn_search { width: 24px; height: 24px; background: url('../images/search.svg') no-repeat center; text-indent: 99999999999999px; cursor: pointer; }

/* main */
#main { padding-top: 73px; }
#main section { padding: 100px 0; transition: all 0.5s; }
#main h2 { font-size: 5rem; transition: all 0.5s; }
#main h2 + p { padding: 30px 0; font-size: 2.4rem; color: #999; transition: all 0.5s; }
#main .btn_more { padding: 10px 0 60px; }
#main .btn_more a { border-bottom: 1px solid #ccc; color: #999; font-weight: 700; }

@media (max-width:1200px) { 
    #main section { padding: 60px 0; }
    #main h2 { font-size: 4rem; }
    #main h2 + p { font-size: 2rem; }
}

@media (max-width:768px) { 
    #main h2 { font-size: 3rem; }
    #main h2 + p { font-size: 1.6rem; }
}

/* sec1 */
#sec1 h2 { font-family: 'DM Serif Text', serif; font-size: 8rem; font-weight: 400; transition: all 0.5s; }
#sec1 h2 + p {  letter-spacing: -1px; transition: all 0.5s; }
#sec1 img { max-width: 100%; }

@media (max-width:1200px) { 
    #sec1 h2 { font-size: 6rem; }
    #sec1 h2 + p { font-size: 2rem; }
}

@media (max-width:768px) { 
    #sec1 h2 { font-size: 4rem; }
    #sec1 h2 + p { font-size: 1.6rem; }
}

/* sec2 */
#sec2 { border-top: 1px solid #ccc; border-bottom: 1px solid #ccc; position: relative; }
#sec2::before { display: block; content: ""; width: 1px; height: 100%; background: #ccc; position: absolute; left: 50%; top: 0; }
#sec2 .inner { flex-wrap: wrap; display: flex; justify-content: space-between; align-items: center; }
#sec2 .inner > * { width: calc((100% - 200px) / 2); }
#sec2 .txt { text-align: center; }
#sec2 img { width: 100%; max-width: 100%; }

@media (max-width:1200px) { 
    #sec2 .inner > * { width: 100%; }
    #sec2::before { display: none; }
 }

 /* sec3 */
 #sec3 ul { display: flex; justify-content: space-between; }
 #sec3 ul li { position: relative; width: calc((100% - 90px) / 4); }
 #sec3 ul li img { max-width: 100%; width: 100%; }
 #sec3 ul li span { display: inline-block; position: absolute; left: 0; top: 0; background: #000; color: #FFF; padding: 10px 20px;}
 #sec3 br { display: none; }

 @media (max-width: 1200px) {
    #sec3 ul li { width: calc((100% - 30px) / 2); }
    #sec3 ul li:nth-child(n+3) { display: none; }
 }

 @media (max-width: 768px) {
    #sec3 ul li { width: 100%; }
    #sec3 ul li:not(:first-child) { display: none; }
    #sec3 br { display: block; }
 }

 .txt_center { text-align: center; }

 /* sec4 */
#sec4 { border-top: 1px solid #ccc; border-bottom: 1px solid #ccc; }
#sec4 ul { display: flex; justify-content: center; }
#sec4 ul li { width: calc(100% / 4); }
#sec4 ul li img { max-width: 100%; width: 100%; }

/* footer */
#footer { padding: 100px 0; }
#footer .search { display: flex; justify-content: center; }
#footer input[type="text"] { padding: 0 10px; border: 1px solid #333; width: 220px; height: 40px; font-family: 'Noto Sans KR', sans-serif; }
#footer input[type="text"]::placeholder { color: #ccc; }
#footer input[type="submit"] { background: #333; color: #FFF; width: 80px; height: 40px; font-family: 'Noto Sans KR', sans-serif; font-size: 1.6rem; }

#footer address { padding: 20px 0; color: #999; display: flex; gap:20px; justify-content: center; }
#footer .copy { padding-bottom: 50px; color: #999; }
#footer .footer_logo { position: relative; padding-top: 20px; }
#footer .footer_logo::before { position: absolute; left: 50%; transform: translateX(-50%); top: 0; content:''; display: block; width: 40px; height: 1px; background: #ccc; }

@media (max-width: 768px) {
    #footer { font-size: 1.4rem; }
    #footer address { flex-direction: column; gap:10px; }
}